<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FloatingDisplays.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9E47A5720EAF6E200BA3EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9E47A6D20EAF6E500BA3EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9E47A7820EAF6E500BA3EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
